# DataDrift with Us - Python `List-Tuple-Set` Assignment

## List Problems

**Q: Create a list of 5 integers and print it.**

In [1]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

**Q: Access the third element of the list [10, 20, 30, 40, 50].**

In [2]:
lst = [10, 20, 30, 40, 50]
print(lst[2])

30

**Q: Change the second item in a list [1, 2, 3, 4] to 10.**

In [3]:
lst = [1, 2, 3, 4]
lst[1] = 10
print(lst)

[1, 10, 3, 4]

**Q: Append the number 99 to a list [1, 2, 3].**

In [4]:
lst = [1, 2, 3]
lst.append(99)
print(lst)

[1, 2, 3, 99]

**Q: Insert the number 25 at index 2 in the list [10, 20, 30, 40].**

In [5]:
lst = [10, 20, 30, 40]
lst.insert(2, 25)
print(lst)

[10, 20, 25, 30, 40]

**Q: Remove the value 3 from the list [1, 2, 3, 4, 5].**

In [6]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

**Q: Print the length of the list [5, 10, 15, 20].**

In [7]:
lst = [5, 10, 15, 20]
print(len(lst))

4

**Q: Sort the list [5, 2, 9, 1] in ascending order.**

In [8]:
lst = [5, 2, 9, 1]
lst.sort()
print(lst)

[1, 2, 5, 9]

**Q: Reverse the list [1, 2, 3, 4].**

In [9]:
lst = [1, 2, 3, 4]
lst.reverse()
print(lst)

[4, 3, 2, 1]

**Q: Sum all the numbers in a list [10, 20, 30, 40].**

In [10]:
lst = [10, 20, 30, 40]
print(sum(lst))

100

## Tuple Problems

**Q: Create a tuple of 3 colors and print it.**

In [11]:
colors = ('red', 'green', 'blue')
print(colors)

('red', 'green', 'blue')

**Q: Access the second item in the tuple ('a', 'b', 'c').**

In [12]:
t = ('a', 'b', 'c')
print(t[1])

b

**Q: Create a tuple with one item (value 5) and print its type.**

In [13]:
t = (5,)
print(type(t))

<class 'tuple'>

**Q: Convert the tuple (1, 2, 3) to a list.**

In [14]:
t = (1, 2, 3)
lst = list(t)
print(lst)

[1, 2, 3]

**Q: Check if "apple" exists in the tuple ("apple", "banana", "cherry").**

In [15]:
t = ("apple", "banana", "cherry")
print("apple" in t)

True

**Q: Slice the tuple (10, 20, 30, 40, 50) to get (20, 30).**

In [16]:
t = (10, 20, 30, 40, 50)
print(t[1:3])

(20, 30)

**Q: Unpack the tuple (1, 2, 3) into three variables and print them.**

In [17]:
a, b, c = (1, 2, 3)
print(a, b, c)

1 2 3

**Q: Loop through the tuple ("cat", "dog", "mouse") and print each item.**

In [18]:
t = ("cat", "dog", "mouse")
for item in t:
    print(item)

cat
dog
mouse

**Q: Concatenate two tuples: (1, 2) and (3, 4).**

In [19]:
t1 = (1, 2)
t2 = (3, 4)
print(t1 + t2)

(1, 2, 3, 4)

**Q: Count how many times 2 appears in the tuple (1, 2, 3, 2, 4, 2).**

In [20]:
t = (1, 2, 3, 2, 4, 2)
print(t.count(2))

3

## Set Problems

**Q: Create a set of 4 numbers and print it.**

In [21]:
s = {1, 2, 3, 4}
print(s)

{1, 2, 3, 4}

**Q: Add the number 10 to the set {1, 2, 3}.**

In [22]:
s = {1, 2, 3}
s.add(10)
print(s)

{10, 1, 2, 3}

**Q: Remove the item 3 from the set {1, 2, 3, 4}.**

In [23]:
s = {1, 2, 3, 4}
s.remove(3)
print(s)

{1, 2, 4}

**Q: Find the union of {1, 2, 3} and {3, 4, 5}.**

In [24]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a | b)

{1, 2, 3, 4, 5}

**Q: Find the intersection of {1, 2, 3} and {2, 3, 4}.**

In [25]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a & b)

{2, 3}

**Q: Check if {1, 2} is a subset of {1, 2, 3}.**

In [26]:
a = {1, 2}
b = {1, 2, 3}
print(a.issubset(b))

True

**Q: Check if 5 is in the set {3, 4, 5}.**

In [27]:
s = {3, 4, 5}
print(5 in s)

True

**Q: Create a set from the list [1, 2, 2, 3, 3, 3] and print it.**

In [28]:
lst = [1, 2, 2, 3, 3, 3]
s = set(lst)
print(s)

{1, 2, 3}

**Q: Clear all items from a set {1, 2, 3}.**

In [29]:
s = {1, 2, 3}
s.clear()
print(s)

set()

**Q: Use a loop to print all items in the set {10, 20, 30}.**

In [30]:
s = {10, 20, 30}
for item in s:
    print(item)

10
20
30